<h1>Restaurants</h1>
<table>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= link_to ' Show |', restaurant %></td>
        <td><%= link_to ' Review |', new_restaurant_review_path(restaurant) %></td>
        <td><%= link_to ' Delete', restaurant_path(restaurant), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<tr><%= link_to 'Create new', new_restaurant_path %></tr>
